<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <button onclick="fillForm()">Fill Form</button>

  <div id="personal">
    <h1>Personal</h1>
  </div>

  <div id="education">
    <h1>Education</h1>
  </div>
  <button id="edu_add" onclick="addSection(education)">Add Education</button>


  <div id="experience">
    <h1>Experience</h1>
  </div>
  <button id="exp_add" onclick="addSection(experience)">Add Experience</button>

  <div id="activity">
    <h1>Activities</h1>
  </div>
  <button id="act_add" onclick="addSection(activity)">Add Activity</button>

  <!-- Script srcs for testing without a server -->
  <script src="../static/example.js"></script>
  <script src="../static/countries.js"></script>
  <script src="../static/main3.js"></script>

  <!-- Script srcs for testing with a server -->
  <script src="{{url_for('static', filename='example.js')}}"></script>
  <script src="{{url_for('static', filename='countries.js')}}"></script>
</body>

</html>
