<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="style.css"> -->
<script src="{{url_for('static', filename='main3.js')}}"></script>
</head>
<body>
<form action="{{url_for('result')}}" method = "POST">
  <button onclick="fillForm()">Fill form with test data</button>
  <h1>Personal Information</h1>
  <strong>First name*</strong>
  <input type="text" name="firstname" id="firstname" maxlength="30" required>
  <br>
  <br>
  <strong>Last name*</strong>
  <input type="text" name="lastname" id="lastname" maxlength="30" required>
  <br>
  <br>
  <strong>Email*</strong>
  <input type="email" placeholder="email@example.com" name="email" id="email" required>
  <br>
  <br>
  <strong>Phone Number*</strong>
  <input type="tel" name="phone" id="phone" maxlength="15" required>
  <br>
  <br>
  <h2>Current Address</h2>
  <strong>Address Line 1*</strong>
  <input type="text" name="address1" id="address1" maxlength="30" required>
  <br>
  <br>
  <strong>Address Line 2 </strong>
  <input type="text" name="address2" maxlength="30">
  <br>
  <br>
  <strong>City/Town*</strong>
  <input type="text" name="home_city" id="home_city" required>
  <br>
  <br>
  <strong>State/Providence/Region*</strong>
  <input type="text" name="home_state" id="home_state" required>
  <br>
  <br>
  <strong>Zip Code/Postal Code*</strong>
  <input type="text" name="zip" id="zip" required>
  <br>
  <br>
  <strong>Country*</strong>
  <select name="country" id="country" required>
    <option value="" selected="selected">(please select a country)</option>
    <option value="AF">Afghanistan</option>
    <option value="AL">Albania</option>
    <option value="DZ">Algeria</option>
    <option value="AS">American Samoa</option>
    <option value="AD">Andorra</option>
    <option value="AO">Angola</option>
    <option value="AI">Anguilla</option>
    <option value="AQ">Antarctica</option>
    <option value="AG">Antigua and Barbuda</option>
    <option value="AR">Argentina</option>
    <option value="AM">Armenia</option>
    <option value="AW">Aruba</option>
    <option value="AU">Australia</option>
    <option value="AT">Austria</option>
    <option value="AZ">Azerbaijan</option>
    <option value="BS">Bahamas</option>
    <option value="BH">Bahrain</option>
    <option value="BD">Bangladesh</option>
    <option value="BB">Barbados</option>
    <option value="BY">Belarus</option>
    <option value="BE">Belgium</option>
    <option value="BZ">Belize</option>
    <option value="BJ">Benin</option>
    <option value="BM">Bermuda</option>
    <option value="BT">Bhutan</option>
    <option value="BO">Bolivia</option>
    <option value="BA">Bosnia and Herzegowina</option>
    <option value="BW">Botswana</option>
    <option value="BV">Bouvet Island</option>
    <option value="BR">Brazil</option>
    <option value="IO">British Indian Ocean Territory</option>
    <option value="BN">Brunei Darussalam</option>
    <option value="BG">Bulgaria</option>
    <option value="BF">Burkina Faso</option>
    <option value="BI">Burundi</option>
    <option value="KH">Cambodia</option>
    <option value="CM">Cameroon</option>
    <option value="CA">Canada</option>
    <option value="CV">Cape Verde</option>
    <option value="KY">Cayman Islands</option>
    <option value="CF">Central African Republic</option>
    <option value="TD">Chad</option>
    <option value="CL">Chile</option>
    <option value="CN">China</option>
    <option value="CX">Christmas Island</option>
    <option value="CC">Cocos (Keeling) Islands</option>
    <option value="CO">Colombia</option>
    <option value="KM">Comoros</option>
    <option value="CG">Congo</option>
    <option value="CD">Congo, the Democratic Republic of the</option>
    <option value="CK">Cook Islands</option>
    <option value="CR">Costa Rica</option>
    <option value="CI">Cote d'Ivoire</option>
    <option value="HR">Croatia (Hrvatska)</option>
    <option value="CU">Cuba</option>
    <option value="CY">Cyprus</option>
    <option value="CZ">Czech Republic</option>
    <option value="DK">Denmark</option>
    <option value="DJ">Djibouti</option>
    <option value="DM">Dominica</option>
    <option value="DO">Dominican Republic</option>
    <option value="TP">East Timor</option>
    <option value="EC">Ecuador</option>
    <option value="EG">Egypt</option>
    <option value="SV">El Salvador</option>
    <option value="GQ">Equatorial Guinea</option>
    <option value="ER">Eritrea</option>
    <option value="EE">Estonia</option>
    <option value="ET">Ethiopia</option>
    <option value="FK">Falkland Islands (Malvinas)</option>
    <option value="FO">Faroe Islands</option>
    <option value="FJ">Fiji</option>
    <option value="FI">Finland</option>
    <option value="FR">France</option>
    <option value="FX">France, Metropolitan</option>
    <option value="GF">French Guiana</option>
    <option value="PF">French Polynesia</option>
    <option value="TF">French Southern Territories</option>
    <option value="GA">Gabon</option>
    <option value="GM">Gambia</option>
    <option value="GE">Georgia</option>
    <option value="DE">Germany</option>
    <option value="GH">Ghana</option>
    <option value="GI">Gibraltar</option>
    <option value="GR">Greece</option>
    <option value="GL">Greenland</option>
    <option value="GD">Grenada</option>
    <option value="GP">Guadeloupe</option>
    <option value="GU">Guam</option>
    <option value="GT">Guatemala</option>
    <option value="GN">Guinea</option>
    <option value="GW">Guinea-Bissau</option>
    <option value="GY">Guyana</option>
    <option value="HT">Haiti</option>
    <option value="HM">Heard and Mc Donald Islands</option>
    <option value="VA">Holy See (Vatican City State)</option>
    <option value="HN">Honduras</option>
    <option value="HK">Hong Kong</option>
    <option value="HU">Hungary</option>
    <option value="IS">Iceland</option>
    <option value="IN">India</option>
    <option value="ID">Indonesia</option>
    <option value="IR">Iran (Islamic Republic of)</option>
    <option value="IQ">Iraq</option>
    <option value="IE">Ireland</option>
    <option value="IL">Israel</option>
    <option value="IT">Italy</option>
    <option value="JM">Jamaica</option>
    <option value="JP">Japan</option>
    <option value="JO">Jordan</option>
    <option value="KZ">Kazakhstan</option>
    <option value="KE">Kenya</option>
    <option value="KI">Kiribati</option>
    <option value="KP">Korea, Democratic People's Republic of</option>
    <option value="KR">Korea, Republic of</option>
    <option value="KW">Kuwait</option>
    <option value="KG">Kyrgyzstan</option>
    <option value="LA">Lao People's Democratic Republic</option>
    <option value="LV">Latvia</option>
    <option value="LB">Lebanon</option>
    <option value="LS">Lesotho</option>
    <option value="LR">Liberia</option>
    <option value="LY">Libyan Arab Jamahiriya</option>
    <option value="LI">Liechtenstein</option>
    <option value="LT">Lithuania</option>
    <option value="LU">Luxembourg</option>
    <option value="MO">Macau</option>
    <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
    <option value="MG">Madagascar</option>
    <option value="MW">Malawi</option>
    <option value="MY">Malaysia</option>
    <option value="MV">Maldives</option>
    <option value="ML">Mali</option>
    <option value="MT">Malta</option>
    <option value="MH">Marshall Islands</option>
    <option value="MQ">Martinique</option>
    <option value="MR">Mauritania</option>
    <option value="MU">Mauritius</option>
    <option value="YT">Mayotte</option>
    <option value="MX">Mexico</option>
    <option value="FM">Micronesia, Federated States of</option>
    <option value="MD">Moldova, Republic of</option>
    <option value="MC">Monaco</option>
    <option value="MN">Mongolia</option>
    <option value="MS">Montserrat</option>
    <option value="MA">Morocco</option>
    <option value="MZ">Mozambique</option>
    <option value="MM">Myanmar</option>
    <option value="NA">Namibia</option>
    <option value="NR">Nauru</option>
    <option value="NP">Nepal</option>
    <option value="NL">Netherlands</option>
    <option value="AN">Netherlands Antilles</option>
    <option value="NC">New Caledonia</option>
    <option value="NZ">New Zealand</option>
    <option value="NI">Nicaragua</option>
    <option value="NE">Niger</option>
    <option value="NG">Nigeria</option>
    <option value="NU">Niue</option>
    <option value="NF">Norfolk Island</option>
    <option value="MP">Northern Mariana Islands</option>
    <option value="NO">Norway</option>
    <option value="OM">Oman</option>
    <option value="PK">Pakistan</option>
    <option value="PW">Palau</option>
    <option value="PA">Panama</option>
    <option value="PG">Papua New Guinea</option>
    <option value="PY">Paraguay</option>
    <option value="PE">Peru</option>
    <option value="PH">Philippines</option>
    <option value="PN">Pitcairn</option>
    <option value="PL">Poland</option>
    <option value="PT">Portugal</option>
    <option value="PR">Puerto Rico</option>
    <option value="QA">Qatar</option>
    <option value="RE">Reunion</option>
    <option value="RO">Romania</option>
    <option value="RU">Russian Federation</option>
    <option value="RW">Rwanda</option>
    <option value="KN">Saint Kitts and Nevis</option>
    <option value="LC">Saint LUCIA</option>
    <option value="VC">Saint Vincent and the Grenadines</option>
    <option value="WS">Samoa</option>
    <option value="SM">San Marino</option>
    <option value="ST">Sao Tome and Principe</option>
    <option value="SA">Saudi Arabia</option>
    <option value="SN">Senegal</option>
    <option value="SC">Seychelles</option>
    <option value="SL">Sierra Leone</option>
    <option value="SG">Singapore</option>
    <option value="SK">Slovakia (Slovak Republic)</option>
    <option value="SI">Slovenia</option>
    <option value="SB">Solomon Islands</option>
    <option value="SO">Somalia</option>
    <option value="ZA">South Africa</option>
    <option value="GS">South Georgia and the South Sandwich Islands</option>
    <option value="ES">Spain</option>
    <option value="LK">Sri Lanka</option>
    <option value="SH">St. Helena</option>
    <option value="PM">St. Pierre and Miquelon</option>
    <option value="SD">Sudan</option>
    <option value="SR">Suriname</option>
    <option value="SJ">Svalbard and Jan Mayen Islands</option>
    <option value="SZ">Swaziland</option>
    <option value="SE">Sweden</option>
    <option value="CH">Switzerland</option>
    <option value="SY">Syrian Arab Republic</option>
    <option value="TW">Taiwan, Province of China</option>
    <option value="TJ">Tajikistan</option>
    <option value="TZ">Tanzania, United Republic of</option>
    <option value="TH">Thailand</option>
    <option value="TG">Togo</option>
    <option value="TK">Tokelau</option>
    <option value="TO">Tonga</option>
    <option value="TT">Trinidad and Tobago</option>
    <option value="TN">Tunisia</option>
    <option value="TR">Turkey</option>
    <option value="TM">Turkmenistan</option>
    <option value="TC">Turks and Caicos Islands</option>
    <option value="TV">Tuvalu</option>
    <option value="UG">Uganda</option>
    <option value="UA">Ukraine</option>
    <option value="AE">United Arab Emirates</option>
    <option value="GB">United Kingdom</option>
    <option value="US">United States</option>
    <option value="UM">United States Minor Outlying Islands</option>
    <option value="UY">Uruguay</option>
    <option value="UZ">Uzbekistan</option>
    <option value="VU">Vanuatu</option>
    <option value="VE">Venezuela</option>
    <option value="VN">Viet Nam</option>
    <option value="VG">Virgin Islands (British)</option>
    <option value="VI">Virgin Islands (U.S.)</option>
    <option value="WF">Wallis and Futuna Islands</option>
    <option value="EH">Western Sahara</option>
    <option value="YE">Yemen</option>
    <option value="YU">Yugoslavia</option>
    <option value="ZM">Zambia</option>
    <option value="ZW">Zimbabwe</option>
  </select>
  <br>
  <br>

<h1>Education</h1>
  <strong>School*</strong>
  <input type="text" name="school" id="school_name_1" maxlength="40" required>
  <br>
  <br>
  <strong>Level of Education*</strong>
  <select name="level" id="level" required>
    <option value="Elementary">Elementary</option>
    <option value="Secondary">Secondary</option>
    <option value="Bachelors">Bachelors</option>
    <option value="Masters">Masters</option>
    <option value="Doctorate">Doctorate</option>
  </select>
  <br>
  <br>
  <strong>City/Town*</strong>
  <input type="text" name="school_city" id="school_city" required>
  <br>
  <br>
  <strong>State/Providence/Region*</strong>
  <input type="text" name="school_state" id="school_state" required>
  <br>
  <br>
  <strong>Graduation Date*</strong>
  <input type="month" name="grad_date1" id="grad_date1">
  <br>
  <br>

  <div id="school"  style="display:none;" >
  <br>
  <strong>School*</strong>
  <input type="text" name="school2" id="school2" maxlength="40">
  <br>
  <br>
  <strong>Level of Education*</strong>
  <select name="level2" id="level2">
    <option value="Elementary">Elementary</option>
    <option value="Secondary">Secondary</option>
    <option value="Bachelors">Bachelors</option>
    <option value="Masters">Masters</option>
    <option value="Doctorate">Doctorate</option>
  </select>
  <br>
  <br>
  <strong>City/Town*</strong>
  <input type="text" name="school_city2">
  <br>
  <br>
  <strong>State/Providence/Region*</strong>
  <input type="text" name="school_state2">
  <br>
  <br>
  <strong>Graduation Date*</strong>
  <input type="month" name="grad_date2">
  <br>
  <br>
</div>
  <button type="button" onclick="showDiv('school')">Add Education</button>
  <br>
  <br>

  <h1>Experience</h1>
  <strong>Job Title*</strong>
  <input type="text" name="job_title" id="job_title" maxlength="30" required>
  <br>
  <br>
  <strong>Job Location*</strong>
  <input type="text" name="job_location" id="job_location" maxlength="30" required>
  <br>
  <br>
  <strong>Job Start Date*</strong>
  <input type="month" name="job_start1" id="job_start1" required>
  <br>
  <br>
  <strong>Job End Date*</strong>
  <input type="month" name="job_end1" id="job_end1" required>
  <br>
  <br>
  <strong>Job Description*</strong>
  <br>
  <textarea rows="4" cols="50" name="job_description" id="job_description" form="usrform" maxlength="600" required>
Enter job description here...</textarea>
  <br>
  <br>

  <div id="job"  style="display:none;" >
  <br>
  <strong>Job Title*</strong>
  <input type="text" name="job_title2" maxlength="30">
  <br>
  <br>
  <strong>Job Location*</strong>
  <input type="text" name="job_location2" maxlength="30">
  <br>
  <br>
  <strong>Job Start Date*</strong>
  <input type="month" name="job_start2">
  <br>
  <br>
  <strong>Job End Date*</strong>
  <input type="month" name="job_end2">
  <br>
  <br>
  <strong>Job Description*</strong>
  <br>
  <textarea rows="4" cols="50" name="job_description2" form="usrform" maxlength="600">
Enter job description here...</textarea>
  <br>
  <br>
  </div>
  <button type="button" onclick="showDiv('job')">Add Job Experience</button>
  <br>
  <br>

 <h1>Leadership/Activites</h1>
  <strong>Activity Title*</strong>
  <input type="text" name="activity_title" id="activity_title" maxlength="30" required>
  <br>
  <br>
  <strong>Position Title*</strong>
  <input type="text" name="position_title" id="position_title" maxlength="30" required>
  <br>
  <br>
  <strong>Activity Location*</strong>
  <input type="text" name="activity_location" id="activity_location" maxlength="30" required>
  <br>
  <br>
  <strong>Activity Start Date*</strong>
  <input type="month" name="activity_start1" id="activity_start1" required>
  <br>
  <br>
  <strong>Activity End Date*</strong>
  <input type="month" name="activity_end1" id="activity_end1" required>
  <br>
  <br>
  <strong>Activity Description*</strong>
  <br>
  <textarea rows="4" cols="50" name="activity_description" id="activity_description" form="usrform" maxlength="600" required>
Enter activity description here...</textarea>
  <br>
  <br>

  <div id="activity"  style="display:none;" >
  <br>
  <strong>Activity Title*</strong>
  <input type="text" name="activity_title" maxlength="30">
  <br>
  <br>
  <strong>Position Title*</strong>
  <input type="text" name="position_title" maxlength="30">
  <br>
  <br>
  <strong>Activity Location*</strong>
  <input type="text" name="activity_location" maxlength="30">
  <br>
  <br>
  <strong>Activity Start Date*</strong>
  <input type="month" name="activity_start2">
  <br>
  <br>
  <strong>Activity End Date*</strong>
  <input type="month" name="activity_end2">
  <br>
  <br>
  <strong>Activity Description*</strong>
  <br>
  <textarea rows="4" cols="50" name="activity_description" form="usrform" maxlength="600">
Enter activity description here...</textarea>
  <br>
  <br>
  </div>
  <button type="button" onclick="showDiv('activity')">Add Activity</button>
  <br>
  <br>

  <h1>Skills</h1>
  <br>
  <br>


  <br>
  <br>
  <input type="submit" value="Submit">
</form>


</body>
</html>
